body
{
  margin: 0;
  /* text-align: center; */
  font-family: 'Merriweather', sans-serif;
}

.logo
{
 width: 50%;
 height: 50%;
}

.banner_part
{
  position: relative;
  margin-top: 9%;


  font-family: serif;
  color: white;

}



.section_tittle
{
  font-family: serif;
}
.section_tittle p
{
  color: grey;
  font-family: sans-serif;
}

.sub-logo
{
  padding-right: 30%;
}

.image
{
  padding: 5%;
}
